@{
  Layout = "_Layout";
}
@using Bakery.Models
<h1>Welcome to Pierre's Bakery!</h1>
<div class="d-flex justify-content-start">
  <div class="p-3">
    
    <h2>Treats</h2>
    @if (Model["treats"].Length != 0)
    {
      <ul>
        @foreach (Treat treat in Model["treats"])
        {
          <li>@Html.ActionLink($"{treat.Name}", "Details", "Treats", new { id = treat.TreatId})</li>
        }
      </ul>
    }
    else
    {
      <p>No treats have been added yet!</p>
    }
  </div>

  <div class="p-3">
    <h2>Flavors</h2>
    @if (Model["flavors"].Length != 0)
    {
      <ul>
        @foreach (Flavor flavor in Model["flavors"])
        { 
          <li>@Html.ActionLink($"{flavor.Type}", "Details", "Flavors", new { id = flavor.FlavorId})</li>
        }
      </ul>
    }
    else
    {
      <p>No flavors have been added yet!</p>
    }
  </div>
</div>
