@{
  Layout = "_Layout";
}
@using Bakery.Models
<img src="~/images/logo.png" class="splash-logo">
<div class="p-3">
  <h1>BAKE | Treats + Coffee </h1>
    <p>We are a hip cafe & bakery located on the East of the LA River. Serving pastries, coffee and more. We love serving and supporting those in our community. Our entire coffee selection is fair trade, we only use farm-fresh eggs, and we source our produce locally.</p>
    <br>
    <p>Stop by for a coffee + treat, we love to see our neighbors!</p>
    <br>
    <p>
      <i class="note">
      This is also a project demonstrating knowledge of user authentication, authorization and code-first database building in C#/ASP.NET Core MVC. Data is stored in a SQL database with treats and flavors relating in a many-to-many relationship, meaning a cookie could be both sweet and savory while many distinct treats (cake, cookie, hand pie) could all be described as sweet. 
      </i>
    </p>
    <br>
    <p>Click on a treat or a flavor to see details, make edits or additions.</p>
</div>
<div class="d-flex justify-content-evenly">
  <div class="p-3">
    
    <h2>@Html.ActionLink("Treats", "Index", "Treats")</h2>
    
    @if (Model["treats"].Length != 0)
    {
      <ul class="list-group">
        @foreach (Treat treat in Model["treats"])
        {
          <li class="list-group-item list-group-item-action">@Html.ActionLink($"{treat.Name}", "Details", "Treats", new { id = treat.TreatId})</li>
        }
      </ul>
    }
    else
    {
      <p>No treats have been added yet!</p>
    }
  </div>

  <div class="p-3">
    <h2>@Html.ActionLink("Flavors", "Index", "Flavors")</h2>
    @if (Model["flavors"].Length != 0)
    {
      <ul class="list-group">
        @foreach (Flavor flavor in Model["flavors"])
        { 
          <li li class="list-group-item list-group-item-action">@Html.ActionLink($"{flavor.Type}", "Details", "Flavors", new { id = flavor.FlavorId})</li>
        }
      </ul>
    }
    else
    {
      <p>No flavors have been added yet!</p>
    }
  </div>
</div>
