@{
  Layout = "_Layout";
}
@using Bakery.Models

<h1>Treats</h1>

<!-- List all treats -->
<ul class="list-group">
  @if (Model.Count != 0)
  {
    foreach (Treat treat in Model)
    {
      <!-- Link to Details -->
      <li class="list-group-item list-group-item-action">@Html.ActionLink($"{treat.Name}", "Details", new {id = treat.TreatId})</li>
    }
  }
  <!-- Link to Create new treat -->
  <li class="list-group-item list-group-item-action list-group-item-success">@Html.ActionLink("Add Treat", "Create")</li>
<ul>

